.ToDoItem {
  margin-bottom: 20px;
  min-height: 50px;
  width: 80%;
  max-width: 400px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  background: white;
  border-radius: 20px;
  padding: 0 10px;
}

.ToDoItem__check-mark {
  color: #41729f;
  font-weight: 800;
  font-size: 17px;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

.ToDoItem__check-mark:hover,
.ToDoItem__check-mark.active {
  color: greenyellow;
}

.ToDoItem__text {
  padding: 0 10px;
  font-weight: 600;
  color: #274472;
}

.ToDoItem__text.complete {
  text-decoration: line-through;
  color: #5885af;
}

.ToDoItem__delete {
  color: #d65e49;
  outline: none;
  font-weight: 800;
  font-size: 18px;
  background: none;
  cursor: pointer;
  border: none;
}

.ToDoItem__delete:hover {
  color: rgb(172, 19, 19);
}
