.TodoItem__delete {
  color: #d65e49;
  outline: none;
  font-weight: 800;
  font-size: 18px;
  background: none;
  cursor: pointer;
  border: none;
}

.TodoItem__delete:hover {
  color: rgb(172, 19, 19);
}

.TodoItem__delete:focus-visible {
  outline: 2px solid rgb(226, 150, 62);
  border-radius: 10px;
}
