.TodoItem__check-mark {
  color: #41729f;
  font-weight: 800;
  font-size: 17px;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

.TodoItem__check-mark:hover,
.TodoItem__check-mark.active,
.TodoItem__check-mark:focus-visible {
  color: greenyellow;
}
