.EmptyTodos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}

.EmptyTodos img {
  width: 100%;
  max-width: 170px;
  height: auto;
}

.EmptyTodos h2 {
  font-size: 22px;
  color: #274472;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
}

.EmptyTodos p {
  color: #41729f;
  font-weight: 600;
  font-size: 17px;
}
