.TodosError {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.TodosError img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.TodosError h2 {
  margin-bottom: 0;
  font-size: 26px;
  color: #274472;
}

.TodosError p {
  color: #41729f;
}
