.CreateTodoButton {
  width: 100%;
}

.CreateTodoButton__button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  background: #41729f;
  color: white;
  font-weight: 500;
  font-size: 30px;
  border: none;
  outline: none;
  border-radius: 50%;
  transition: ease 0.5s;
  cursor: pointer;
  z-index: 999999;
}

.CreateTodoButton__button:hover,
.CreateTodoButton__button:focus-visible {
  transform: rotate(225deg);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
}
