body {
  margin: 0;
  font-family: "Mukta", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Mukta", sans-serif;
}

#root {
  width: 100%;
  height: 100vh;
  background-color: #c3e0e5;
}
